.nav-bar::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #25252580, transparent);
}

.nav-list{
    box-shadow: -20rem 0 0 calc(100vw + 20rem) rgba(0, 0, 0, 0);
    transition: right .5s cubic-bezier(.79,.14,.15,.86), box-shadow .25s ease;
}

.nav-list.show{
    right: 0;
}

.nav-list-item::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2563eb;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-list-item:hover::after{
    width: 100%;
}

.nav-link{
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1)
}

.nav-list-item:hover .nav-link{
    color: #2563eb;
}

/* Media Queries */
@media (max-width: 768px) {
    .nav-bar::after{
        display: none;
    }
    .nav-list.show{
        box-shadow: -20rem 0 0 calc(100vw + 20rem) rgba(0, 0, 0, 0.5);
    }
}